{% extends "base.html" %}
{% load tt_utils %}

{% block content %}
  <h1>Welcome to HollyMovies!</h1>
  <hr>
  <p>This is index.</p>
  <div>
    <a href="{% url 'viewer:movie_list' %}">Movies</a>
  </div>
  <div>
    <a href="{% url 'viewer:genre_list' %}">Genres</a>
  </div>

  {{ my_html_code|safe }}

  {% for name in names %}
    <p>{{ name|upper }}</p>
  {% endfor %}
  {% for key, value in dict_data.items %}
    <p>{{key}} {{value}}</p>
  {% endfor %}

  <p>{% cut 'removed is some is words is' %}</p>
  <b>{{ 'my a bit longer text'|truncate:15 }}</b>

  <p>{{ my_test_date|to_nice_date }}</p>

  <p>{{ names|join:', ' }}</p>
  <p>{{ br_test|linebreaksbr }}</p>

{% endblock %}
