{% extends "base.html" %}

{% block content %}
    <a href="{% url 'movie_list' %}">< Back to movie list</a>
    <br><br><br>
    <h2>{{ object.title }} ({{ object.released.year }})</h2>
    <hr>
    <p>Genre: {{ object.genre.name }}</p>
    <p>Rating: {{ object.rating }}</p>
    <p>Description: {{ object.description }}</p>
    <br>
    <button><a href="{% url 'movie_update' object.pk %}">Edit movie</a></button>
    <button><a href="{% url 'movie_delete' object.pk %}">Delete movie</a></button>
{% endblock %}
