{% extends "base.html" %}

{% block content %}
  <h1>Movie list</h1>
  <hr>
  <table>
    <tbody>
    {% for movie in object_list %}
      <tr>
        <td><a href="{% url 'viewer:movie_detail' movie.pk %}">{{ movie.title }} ({{ movie.released.year }})</a></td>
        <td><a href="{% url 'viewer:movie_update' movie.pk %}">Edit</a></td>
        <td><a href="{% url 'viewer:movie_delete' movie.pk %}">Delete</a></td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  <br>
  <p>Average movie rating: {{ average_rating }}</p>
  <p>Number of movies: {{ object_list|length }}</p>
  <br>
  <button><a href="{% url 'viewer:movie_create' %}">Create movie</a></button>
{% endblock %}
