<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container fixed">
        <a class="navbar-brand" href="{% url 'index' %}">HollyMovies</a>
        <button
                class="navbar-toggler" type="button"
                data-toggle="collapse" data-target="#navbarNavAltMarkup"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="{% url 'index' %}">
                    Home
                </a>
                <a class="nav-item nav-link active" href="/hello/nice?s1=ultra">
                    Hello
                </a>
                <a class="nav-item nav-link active" href="{% url 'movie_list' %}">
                    Movies
                </a>
                <a class="nav-item nav-link active" href="{% url 'genre_list' %}">
                    Genres
                </a>
            </div>
        </div>
    </div>
</nav>
